*{
    margin: 0;
    padding: 0;
    }
    
    .cabecalho {
        background-color: #8dc9c8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    font-size: 24px;
    }
    .cabecalho-imagem{
        width: 7%;
    
    }
    .cabecalho-lista-item{
        padding: 20px;
    }
    .sobre{
        background-color: aliceblue;
        color: black;
        padding: 5cm 0;
        display: flex;
        justify-content: center;
    }
    .sobre-titulo{
        padding: 20px;
        font-size: 30px;
    }
    .sobre-texto-um{
        padding: 10px;
        font-size: 20px;
    }
    .sobre-texto-dois{
        padding: 10px;
        font-size: 20px;
    }
    .sobre-título-dois{
        padding: 10px;
        font-size: 20px;
    }
    .sobre-texto-três{
        padding: 8px;
        font-size: 20px;
    }
    .sobre-texto-quatro{
        padding: 8px;
        font-size: 20px;
    }
    .imagem-de-contato{
        width: 10%;
        padding: 10px;
    }
    .número-de-celular{
        padding-left: 1% ;
    }
    .texto-do-contato{
        padding-left: 1% ;
    }
    .número-1{
        display: 0 10px;
        padding-left: 1%;
    }
